body {
  font-family: segoe ui;
      font-size: 14px;
      background-image: url("./toytoy.jpg");
      background-size:100%;
      text-align: center;
      margin: 0px;
      color:lightgreen;
}

.container {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 700px;
}

.title {
	margin-top: 0px;
	padding-top: 30px;
	color: #FF4500;
        text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
                     0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
                     0 0 40px #A5F1FF;
	font-size:24px;
	font-weight:bold;
}

.title-second {
	margin-bottom: 30px;
	color: white;
        text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
                     0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
                     0 0 40px #A5F1FF;
}

.button-add {
    border: 1px solid #999999;
    border-radius: 1px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: green;
    color: buttontext;
    font-family: arial;
    font-size: 13.3px;
    text-decoration: none;
}

.button-add:active {
	background: linear-gradient(lightgray, white);
}

.table thead tr th {
    color: green;
    background-color:lightgray;
    font-weight:bold;
    font-size:18px;
}
.table tbody tr td {
    color:#FF4500;
    background-color:white;
    font-weight:bold;
}

.table-details {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 30px;
    color: #FF4500;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
                 0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
                 0 0 40px #A5F1FF;
    font-weight:bold;
}

.table-details tr td input{
	padding: 5px;
	margin-top: 10px;
	border-radius: 3px;
	color:black;
	font-weight:bold;
}

.details-title {
	margin-top: 0px;
	padding-top: 30px;
	margin-bottom: 40px;
	color: white;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
                 0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
                 0 0 40px #A5F1FF;
}

hr {
	border: 0px;
	border-top: 1px solid lightgray;
	width: 80%;
	margin: 10px;
	margin-left: 10%;
	margin-right: 10%;
}

.search {
	float: right;
	position: relative;
	left: -10px;
}

.move-right {
	position: relative;
	left: 10px;
}
